<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>  
  <script type="text/javascript">
  $(document).ready(function(){
    $("#regBtn").click(function(){
        $.ajax({
          type : 'GET',
          url : '/register',
          success: function(data){
            $("#regDiv").html(data);
          }
        });
    });
    $("#loginBtn").click(function(){
        $.ajax({
          type : 'GET',
          url : '/login',
          success: function(data){
            $("#loginDiv").html(data);
          }
        });
    });
    //=====Login Form Request=============================================
    $("#loginForm").click(function(){
      var uname  = $("#uname").val();
      var upass = sha256($("#upass").val());
      var loginData ={'name': uname,'pass':upass};
      console.log(loginData)
      $.ajax({
          type : 'POST',
          url : '/demo',
          data : loginData,
          success: function(data){
          $("#mainDiv").html(data);
          }
        });
    });
 //=====Register Form=============================================
    $("#regForm").click(function(){
      var uname  = $("#uname").val();
      var upass = sha256($("#upass").val());
      var regData ={'name': uname,'pass':upass};
        $.ajax({
          type : 'POST',
          url : '/regiterToDb',
          data : regData,
          success: function(data){
          $("#mainDiv").html(data);
          }
        });
    });
 //Save profile Data================================================
 $('#saveBtn').click(function(){
   var email = $("#email").val();
   var phone = $("#phone").val();
   var education = $("#education").val();
   var aoi = $("#aoi").val();
   var name = $("#name").val();
   var pass = $("#pass").val();
   var profileData = {'email':email,'phone':phone,'education' : education,'aoi':aoi,'name' : name,'pass' : pass};
   $.ajax({
     type : 'POST',
     url : '/completeprofile',
     data : profileData,
     success : function(data){
        $("#mainDiv").html(data);
     }
   });
 });
 });
  </script>
</head>
<body>
    <h2 class="w3-text-blue">Login Form</h2>
  <p>
    <label class="w3-text-blue"><b>User Name</b></label>
    <input class="w3-input w3-border" name="uname" type="text" id ="uname"></p>
    <p>
    <label class="w3-text-blue" id = "pass"><b>Password</b></label>
    <input class="w3-input w3-border" name="pass" type="text" id ="upass"></p>
    <p>
    <button class="w3-btn w3-blue" id="loginForm">Login</button></p>
</body>
</html>